:root {
  --brand-color: #212121;
  --secondary-color: #2196F3;
  --anim-speed: 250ms ;
}

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
}

/*----reset-atart*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.link {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  padding: 0px;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  outline: 2px solid red;
  outline-offset: -2px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ECECEC;
}

.header__group {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__group {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 50px;
  }
}

@media screen and (max-width: 1199px) {
  .header__group-item:first-child {
    padding-bottom: 10px;
  }
}
.header__contacts {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-transition-duration: var(--anim-speed);
          transition-duration: var(--anim-speed);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts:focus, .header__contacts:hover {
  color: var(--secondary-color);
}

.header__phone,
.header__email {
  fill: currentColor;
}

.header__logo {
  margin-right: 93px;
}

.logo {
  font-family: "Raleway";
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  display: block;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--black {
  color: #000000;
}

.logo--white {
  color: #ffffff;
}

.nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.nav__item {
  position: relative;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  cursor: pointer;
  -webkit-transition-duration: var(--anim-speed);
          transition-duration: var(--anim-speed);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:focus, .nav__link:hover {
  color: var(--secondary-color);
}

.nav__link--current {
  color: var(--secondary-color);
}

.nav__link--current-line::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 108%;
  height: 4px;
  border-radius: 2px;
  background: var(--secondary-color);
}

.hero {
  max-width: 480px;
  min-height: 400px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-background.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background.jpg);
  background-color: #C4C4C4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    min-height: 400px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    min-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-right: 60px;
  margin-bottom: 30px;
  margin-left: 60px;
  width: 360px;
  font-family: inherit;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .hero__title {
    margin-right: 204px;
    margin-left: 204px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    margin-right: 252px;
    margin-left: 252px;
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 24px;
  margin: 0 auto;
  border-width: 0px;
  -webkit-transition-duration: var(--anim-speed);
          transition-duration: var(--anim-speed);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:active, .hero__btn:hover, .hero__btn:focus {
  background: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    padding: 10px 32px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100;
  -webkit-transition: var(--anim-speed) linear, visibility var(--anim-speed) linear;
  transition: var(--anim-speed) linear, visibility var(--anim-speed) linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-70%);
          transform: translateX(-50%) translateY(-70%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 450px;
  height: 609px;
  padding: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: opacity var(--anim-speed), -webkit-transform var(--anim-speed);
  transition: opacity var(--anim-speed), -webkit-transform var(--anim-speed);
  transition: transform var(--anim-speed), opacity var(--anim-speed);
  transition: transform var(--anim-speed), opacity var(--anim-speed), -webkit-transform var(--anim-speed);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__btn {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background: #FFFFFF;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: fill var(--anim-speed);
  transition: fill var(--anim-speed);
}
.modal__btn:hover, .modal__btn:focus {
  fill: var(--secondary-color);
}

.modal__form-group {
  margin-bottom: 20px;
}

.modal__label {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}
@media screen and (min-width: 1200px) {
  .modal__label {
    line-height: 1.15;
  }
}

.modal__form-label {
  display: block;
  font-size: 12px;
  margin-bottom: 4px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__form-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.modal__form-field {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 42px;
  outline: 1px solid transparent;
  -webkit-transition: outline var(--anim-speed), -webkit-box-shadow;
  transition: outline var(--anim-speed), -webkit-box-shadow;
  transition: outline var(--anim-speed), box-shadow;
  transition: outline var(--anim-speed), box-shadow, -webkit-box-shadow;
}
.modal__form-field:focus {
  outline-color: var(--secondary-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--anim-speed);
  transition: fill var(--anim-speed);
}
.modal__form-field:focus + .modal__form-icon {
  fill: var(--secondary-color);
}

.modal__form-message {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: var(--brand-color);
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: fill var(--anim-speed);
  transition: fill var(--anim-speed);
}
.modal__form-message:focus {
  outline-color: var(--secondary-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 1200px) {
  .modal__form-message {
    font-size: 12px;
    line-height: 1.1666666667;
  }
}

.modal-form-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 52px;
  -webkit-transition: background var(--anim-speed);
  transition: background var(--anim-speed);
}
.modal-form-btn:hover, .modal-form-btn:focus {
  background: #188CE8;
}

.modal__form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .modal__form-agreement {
    font-size: 14px;
    line-height: 1.7142857143;
  }
}

.modal__form-agreement-link {
  color: var(--secondary-color);
  text-underline-offset: 3px;
}

.modal__form-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 15px;
  background: #FFFFFF;
  border-radius: 2px;
  border: 1.75px solid var(--brand-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
  -webkit-transition: background-size var(--anim-speed), background-color var(--anim-speed), border-color var(--anim-speed);
  transition: background-size var(--anim-speed), background-color var(--anim-speed), border-color var(--anim-speed);
}
.modal__form-checkbox:checked {
  background-color: var(--secondary-color);
  border-color: #2196F3;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E");
  background-size: 11px 8px;
}

.modal__form-agreement-disc {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.advantage__list {
  display: block;
}
@media screen and (min-width: 768px) {
  .advantage__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.advantage__item {
  width: 450px;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .advantage__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__item {
    width: 270px;
    padding-bottom: 0px;
  }
}

.advantage__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--brand-color);
  margin-top: 30px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .advantage__title {
    text-align: left;
  }
}

.advantage__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.advantages__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
}

.about-work {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .about-work {
    display: none;
  }
}

.about-work__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.about-work__photo-box {
  position: relative;
}

.about-work__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}

.about-work__overlay {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
}

.about-work__overlay-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.work-team {
  background: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .work-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.work-team__card {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.work-team__title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .work-team__title {
    font-size: 36px;
    line-height: 1.18;
    margin-bottom: 50px;
  }
}

.work-team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.work-team__photo {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .work-team__photo {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .work-team__photo {
    width: 270px;
  }
}

.work-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  margin-bottom: 10px;
}

.work-team__occupation {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.work-team__information {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .work-team__information {
    padding-bottom: 30px;
  }
}

.work-team__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 16px;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  color: #AFB1B8;
  -webkit-transition-duration: var(--anim-speed);
          transition-duration: var(--anim-speed);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover, .social-link:focus {
  background-color: var(--secondary-color);
  color: #FFFFFF;
}

.social__icons {
  fill: currentColor;
}

.fotter-socials--social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}
.fotter-socials--social-link:hover, .fotter-socials--social-link:focus {
  background-color: var(--secondary-color);
}

.clients-area__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
}
@media screen and (min-width: 1200px) {
  .clients-area__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.clients-area__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.clients-area__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  -webkit-transition-duration: var(--anim-speed);
          transition-duration: var(--anim-speed);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-area__link:focus .clients-area__logo, .clients-area__link:hover .clients-area__logo {
  fill: var(--secondary-color);
}

.clients-area__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition-duration: var(--anim-speed);
          transition-duration: var(--anim-speed);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-area__link:hover, .clients-area__link:focus {
  border: 1px solid #2196F3;
  border-radius: 4px;
  fill: var(--secondary-color);
}
@media screen and (min-width: 768px) {
  .clients-area__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-area__link {
    width: 170px;
  }
}

.clients-area {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients-area {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin: 0 auto;
  }
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__contacts {
    display: block;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    margin-right: 70px;
    margin-bottom: 0px;
    width: 231px;
  }
}

.logo--white {
  color: #ffffff;
}

.address {
  margin-top: 20px;
}

.address__location {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 9px;
}

.address__tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address__email {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}

.address__mail-wrepper {
  margin-bottom: 9px;
}

.fotter-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .fotter-socials {
    display: block;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    margin-right: 90px;
    margin-bottom: 0px;
  }
}

.fotter-socials__title {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-socials__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.form__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.form__field {
  width: 450px;
  height: 50px;
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .form__field {
    width: 358px;
    margin-bottom: 0px;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .form {
    display: inline-block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: left;
  }
}

.form__btn {
  width: 200px;
  padding: 10px 62px 10px 28px;
  margin: auto;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  border: 0;
  outline: transparent;
  position: relative;
  -webkit-transition-duration: var(--anim-speed);
          transition-duration: var(--anim-speed);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__btn:hover, .form__btn:focus {
  background-color: #188CE8;
}
@media screen and (min-width: 1200px) {
  .form__btn {
    padding: 10px 62px 10px 28px;
    margin-left: 11px;
  }
}

.form__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  right: 28px;
}

.project-list {
  background: #FFFFFF;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .project-list {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.project-list__buttons {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .project-list__buttons {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .project-list__buttons {
    margin-bottom: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.project-list__selection {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color);
  background: #F5F4FA;
  border-radius: 4px;
  padding: 6px 25px;
  border-width: 0px;
  min-height: 38px;
  -webkit-transition-duration: var(--anim-speed);
          transition-duration: var(--anim-speed);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.project-list__selection:hover, .project-list__selection:active {
  color: #FFFFFF;
  background: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}

.portfolio {
  display: block;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0px;
  gap: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.portfolio__item {
  -ms-flex-preferred-size: 450px;
      flex-basis: 450px;
  max-width: 450px;
  -webkit-transition-duration: var(--anim-speed);
          transition-duration: var(--anim-speed);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover, .portfolio__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    -ms-flex-preferred-size: 354px;
        flex-basis: 354px;
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    -ms-flex-preferred-size: 370px;
        flex-basis: 370px;
    max-width: 370px;
  }
}

.portfolio__image {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .portfolio__image {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__image {
    width: 370px;
  }
}

.potfrolio__title {
  margin-bottom: 4px;
  width: 370px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-color);
}

.portfolio__text {
  width: 370px;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio__description {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-top: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__description {
    padding-bottom: 56px;
  }
}

.portfolio__overlay-box {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay-photo {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--anim-speed);
  transition: -webkit-transform var(--anim-speed);
  transition: transform var(--anim-speed);
  transition: transform var(--anim-speed), -webkit-transform var(--anim-speed);
}
.portfolio__item:hover .portfolio__overlay-photo {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform var(--anim-speed) ease;
  transition: -webkit-transform var(--anim-speed) ease;
  transition: transform var(--anim-speed) ease;
  transition: transform var(--anim-speed) ease, -webkit-transform var(--anim-speed) ease;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}
.menu .link:hover, .menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  padding: 0;
  color: #212121;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-toggle:hover, .menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu__container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  padding-right: 40px;
  padding-left: 40px;
  background-color: #fff;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
.menu__container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.menu__container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #fff;
}

.menu-toggle-icon {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}
.menu-toggle-icon:hover, .menu-toggle-icon:focus {
  fill: #2196F3;
}

.mobile-menu {
  padding-top: 48px;
  padding-left: 0;
  list-style: none;
  margin-bottom: auto;
}

.mobile-menu-link {
  display: block;
  padding-bottom: 32px;
  color: #fff;
  text-decoration: none;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 48px;
}

.mobile-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  padding-bottom: 64px;
}

.mobile-socials-item {
  padding-right: 10px;
  padding-left: 10px;
}
.mobile-socials-item:not(:first-child) {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile-contacts-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile-contacts-email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #757575;
}/*# sourceMappingURL=main.css.map */