.hero {
    max-width: 1600px;
    min-height: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    background-color: #C4C4C4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    padding-top: 118px;
    padding-bottom: 118px;

    //Mobile version
    background-image: url('../images/hero/hero_s//Header_img_s@1x.jpg');
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .box {
                background-image: url('../images/hero/hero_s/Header_img_s@2x.jpg');
            }
        }
    
        //Tablet version
    
        @media screen and (min-width:481px) {
            background-image: url('../images/hero/hero_m/Header_img_m@1x.jpg');
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                .box {
                    background-image: url('../images/hero/hero_m/Header_img_m@2x.jpg');
                }
            }
        }
    
        //desktop version
    
        @media screen and (min-width:769px) {
            background-image: url('../images/hero/hero_l/Img_l@1x.jpg');
            padding-top: 200px;
            padding-bottom: 200px;
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                .box {
                    background-image: url('../images/hero/hero_l/Img_l@2x.jpg');
                }
            }
        }
}

.hero__title {
    display: block;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 360px;
    font-family: inherit;
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42/26);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;

    @media screen and (max-width:479px) {
        width: 100%;
    }

    @media screen and (min-width:1200px) {
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}

.hero__btn {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    cursor: pointer;
    border-radius: 4px;
    padding: 10px 24px;
    margin: 0 auto;
    border-width: 0px;
    transition-duration: var(--anim-speed);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:active,
    &:hover,
    &:focus {
        background: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }

    @media screen and (min-width:1200px) {
        padding: 10px 32px;
    }
}

