.hero {
    max-width: 1600px;
    min-height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background.jpg);
    background-color: #C4C4C4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero__title {
    margin-right: 338px;
    margin-bottom: 30px;
    margin-left: 252px;
    width: 696px;
    font-family: inherit;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero__btn {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    cursor: pointer;
    border-radius: 4px;
    padding: 10px 32px;
    margin: 0 auto;
    border-width: 0px;
    transition-duration: var(--anim-speed);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:active,
    &:hover,
    &:focus {
        background: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
    }
}

