.logo {
    font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    display: block;
}

.logo--black {
    color: #000000;
}
.logo--white {
    color: #ffffff;
}