.logo {
    font-family: 'Raleway';
    font-size: 24px;
    line-height: calc(28/24);
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    display: block;

    @media screen and(min-width:1200px) {
        font-size: 26px;
        line-height: 1.19;
    }
}

.logo--black {
    color: #000000;
}
.logo--white {
    color: #ffffff;
}