.menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    @media (max-width: 767px) {
        display: none;
    }
}

.menu .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
    &:hover,
    &:focus {
            text-decoration: underline;
        }
}

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;
    padding: 0;
    color: #212121;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    &:hover,
    &:focus {
        background-color: rgba(0, 0, 0, 0.1);
        }
    @media (min-width: 768px) {
        display: none;
    }
}

.menu__container {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-right: 40px;
    padding-left: 40px;
    background-color: #fff;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    &.is-open {
            transform: translateX(0);
        }
    
    & .menu-toggle {
        position: absolute;
        top: 10px;
        right: 15px;
        color: #fff;
    } 
}


.menu-toggle-icon{
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    &:hover,
    &:focus {
        fill: #2196F3;
    }
}


.mobile-menu {
    padding-top: 48px;
    padding-left: 0;
    
    list-style: none;
    margin-bottom: auto;
}

.mobile-menu-link {
    display: block;
    padding-bottom: 32px;
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    line-height: calc(47/40);
    letter-spacing: 0.02em;
    color: #212121;
}

.mobile-socials{
    display: flex;
    margin-bottom: 48px;
}

.mobile-contacts{
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 64px;
}

.mobile-socials-item{
    padding-right: 10px;
    padding-left: 10px;
    &:not(:first-child) {
        border-left: 1px solid rgba(33, 33, 33, 0.2);
    }
}
.mobile-social-link{
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22/18);
    letter-spacing: 0.02em;
    color: #2196F3;
}

.mobile-contacts-phone{
    font-weight: 500;
    font-size: 34px;
    line-height: calc(40/34);
    letter-spacing: 0.02em;
    color: #2196F3;
}
.mobile-contacts-email{
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28/24);
    letter-spacing: 0.02em;
    color: #757575;
}