.project-list {
    background: #FFFFFF;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width:1200px) {
        padding-top: 94px;
            padding-bottom: 94px;
    }
}

.project-list__buttons {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content:left;
    gap: 8px;

    @media screen and(min-width:768px){
        margin-bottom: 30px;
        justify-content: center;
    }
    @media screen and(min-width:1200px) {
        margin-bottom: 50px;
        justify-content: center;
    }
}

.project-list__selection {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    background: #F5F4FA;
    border-radius: 4px;
    padding: 6px 25px;
    border-width: 0px;
    min-height: 38px;
    transition-duration: var(--anim-speed);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:active {
        color: #FFFFFF;
        background: #2196F3;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        cursor: pointer;
    }
}

.portfolio {
    display: block;
    flex-wrap: wrap;
    padding-left: 0px;
    gap: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    @media screen and (min-width:768px) {
           display: flex; 
        }
}

.portfolio__item {
    flex-basis: 450px;
    max-width: 450px;
    transition-duration: var(--anim-speed);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    @media screen and (max-width:479px) {
        display: block;
        padding-bottom: 30px;
        width: 100%;
    }
    
    @media screen and (min-width:768px) {
        flex-basis: 354px;
        max-width: 354px;
    }
    @media screen and (min-width:1200px) {
        flex-basis: 370px;
        max-width: 370px;
    }
}

.potfrolio__title {
    flex-wrap: wrap;
    margin-bottom: 4px;
    width: 100%;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--brand-color);
}

.portfolio__text {
    width: 370px;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}

.portfolio__description {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-top: none;

    @media screen and (min-width:768px) and (max-width: 1199px) {
        padding-bottom: 56px;
    }
}

.portfolio__overlay-box {
    position: relative;
    overflow: hidden;
}

.portfolio__overlay-photo {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    line-height: calc(28/18);
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: rgba(33, 150, 243, 0.9);

    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;

    transform: translateY(100%);
    transition: transform var(--anim-speed);

    .portfolio__item:hover & {
            transform: translateY(0);
            transition: transform var(--anim-speed) ease;
        }
}

