.work-team {
    background: #F5F4FA;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    
}

.work-team__card {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 450px;
    
        @media screen and (max-width:479px) {
            width: 100%;
        }
    
        @media screen and (min-width:768px) {
            width: 354px;
        }
    
        @media screen and(min-width:1200px) {
            width: 270px;
        }
}

.work-team__title {
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    margin-bottom: 30px;

    @media screen and(min-width:1200px) {
        font-size: 36px;
        line-height: 1.18;
        margin-bottom: 50px;
    }    
}

.work-team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.work-team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    margin-bottom: 10px;
}


.work-team__occupation {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.work-team__information {
    padding-top: 30px;
    padding-bottom: 24px;

    @media screen and (min-width:1200px) {
        padding-bottom: 30px;
    }
}

.work-team__contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 16px;
}