  /*----reset-atart*/

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
      margin: 0px;
  }

  .list {
      list-style: none;
      margin: 0px;
      padding: 0px;
  }

  .link {
      text-decoration: none;
      padding: 0px;
      margin: 0px;
  }

  img {
      display: block;
      max-width: 100%;
      height: auto;
      padding: 0px;
  }
